<div class="container">
	<div class="row">
		<div class="col-12">
            	<div {
                    "type": "color",
                    "id": " bg color",
                    "label": "Choose Background Color",
                    "default": "BG",
                    "info": ""
                },></div>
			<h1 class="py-5 my-5 text-center bg-info">Rahat's New Theme</h1>
		</div>
	</div>
</div>
