<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="py-5 my-5 text-center bg-info">Rahat's New Theme</h1>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Banner Header Section",
	"settings": [
		{
			"type": "text",
			"id": "container",
			"label": "Container",
			"default": "container"
		},
		{
			"type": "text",
			"id": "row",
			"label": "Row",
			"default": "row"
		},
		{
			"type": "text",
			"id": "col_12",
			"label": "Col 12",
			"default": "col-12"
		},
		{
			"type": "text",
			"id": "py_5_my_5_text_center_bg_info",
			"label": "Py 5 my 5 text Center bg Info",
			"default": "py-5 my-5 text-center bg-info"
		}
	],
	"blocks": [],
	"max_blocks": 1,
	"presets": [
		{
			"name": "Banner Header Section",
			"settings": {
				"container": "container",
				"row": "row",
				"col_12": "col-12",
				"py_5_my_5_text_center_bg_info": "py-5 my-5 text-center bg-info"
			}
		}
	]
}
{% endschema %}
