<section>
	<div class="container">
		<div class="row">
			{% for item in collections %}
				<div class="col-lg-{{ section.settings.col_num }} mb-4">
					{% render 'collection-card', item: item %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Featured Collection",
	"class": "lwt-featured-collection",
	"settings": [
		{
			"type": "range",
			"id": "col_num",
			"min": 1,
			"max": 4,
			"step": 1,
			"label": "Column number",
			"default": 2
		}
	],
	"presets": [
		{
			"name": "Featured Collection"
		}
	]
}
{% endschema %}
