{% style %}
	.lwt-section {
	    padding: {{section.settings.padding}}px 0;
	}
{% endstyle %}

<section class="lwt-section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Fetured collection product</h1>
			</div>
		</div>
		<div class="row">
			{% comment %} {% paginate section.settings.collection by 6 %} {% endcomment %}
			{% comment %} {% for product in collections.all.products %} {% endcomment %}
			{% if section.settings.collection.products.size > 0 %}
				{% for product in section.settings.collection.products %}
					<div class="col-lg-4 mb-4">
						{% render 'product-card', product: product %}
					</div>
				{% endfor %}
			{% else %}
				No products found
			{% endif %}
			{% comment %}
				<div>
						{{ paginate | default_pagination }}
					</div>
				{% endpaginate %}
			{% endcomment %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Collection product",
	"class": "lwt-collection-product",
	"settings": [
		{
			"type": "range",
			"id": "padding",
			"min": 50,
			"max": 200,
			"step": 10,
			"label": "Section padding",
			"default": 50
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "Featured collection"
		}
	],
	"presets": [
		{
			"name": "Collection product"
		}
	]
}
{% endschema %}
