<footer class="footer">
	<p>&copy; 2025 My Practice Store</p>
</footer>
{% schema %}
{
	"name": "Custom Section",
	"settings": [
		{
			"type": "text",
			"id": "footer",
			"label": "Footer",
			"default": "footer"
		}
	],
	"blocks": [],
	"max_blocks": 1,
	"presets": [
		{
			"name": "Footer Section",
			"settings": {
				"footer": "footer"
			}
		}
	]
}
{% endschema %}
