<header class="hero">
	<h1>Welcome to My Practice Store</h1>
	<p>Converting this HTML index to Shopify Liquid</p>
	<a href="#products" class="btn">Shop Now</a>
</header>

{% schema %}
{
	"name": "Custom Section",
	"settings": [
		{
			"type": "text",
			"id": "hero",
			"label": "Hero",
			"default": "hero"
		},
		{
			"type": "text",
			"id": "btn",
			"label": "Btn",
			"default": "btn"
		},
		{
			"type": "text",
			"id": "products",
			"label": "#products",
			"default": "#products"
		}
	],
	"blocks": [],
	"max_blocks": 1,
	"presets": [
		{
			"name": "Default",
			"settings": {
				"hero": "hero",
				"btn": "btn",
				"products": "#products"
			}
		}
	]
}
{% endschema %}
