<section id="products" class="products">
	<h2>Featured Products</h2>
	<div class="product-grid">
		<div class="product-card">
			<img
				src="https://static.vecteezy.com/system/resources/thumbnails/071/003/805/small/blank-white-coffee-pouch-mockup-packaging-design-template-photo.jpg"
				alt="Product 1"
			>
			<h3>Product 1</h3>
			<p>$29.99</p>
		</div>
		<div class="product-card">
			<imgsrc="https://static.vecteezy.com/system/resources/thumbnails/069/860/804/small/glossy-mustard-yellow-coffee-pouch-packaging-free-photo.jpg" alt="Product 2">
			<h3>Product 2</h3>
			<p>$39.99</p>
		</div>
	</div>
</section>
{% schema %}
{
	"name": "Custom Section",
	"settings": [
		{
			"type": "text",
			"id": "products",
			"label": "Products",
			"default": "products"
		},
		{
			"type": "text",
			"id": "product_grid",
			"label": "Product Grid",
			"default": "product-grid"
		},
		{
			"type": "text",
			"id": "product_card",
			"label": "Product Card",
			"default": "product-card"
		},
		{
			"type": "text",
			"id": "product_1",
			"label": "Product 1",
			"default": "Product 1"
		},
		{
			"type": "text",
			"id": "product_2",
			"label": "Product 2",
			"default": "Product 2"
		}
	],
	"blocks": [],
	"max_blocks": 3,
	"presets": [
		{
			"name": "Default",
			"settings": {
				"products": "products",
				"product_grid": "product-grid",
				"product_card": "product-card",
				"product_1": "Product 1",
				"product_2": "Product 2"
			}
		}
	]
}
{% endschema %}
