<section id="products" class="products">
	<h2>Featured Products</h2>
	<div class="product-grid">
		<div class="product-card">
			<img
				src="https://static.vecteezy.com/system/resources/thumbnails/071/003/805/small/blank-white-coffee-pouch-mockup-packaging-design-template-photo.jpg"
				alt="Product 1"
			>
			<h3>Product 1</h3>
			<p>$29.99</p>
			<a href="#products" class="btn">Buy</a>
		</div>

		<div class="product-card">
			<img
				src="https://static.vecteezy.com/system/resources/thumbnails/069/860/804/small/glossy-mustard-yellow-coffee-pouch-packaging-free-photo.jpg"
				alt="Product 2"
			>
			<h3>Product 2</h3>
			<p>$39.99</p>
			<a href="#products" class="btn">Buy</a>
		</div>

		<div class="product-card">
			<img
				src="https://static.vecteezy.com/system/resources/thumbnails/069/860/804/small/glossy-mustard-yellow-coffee-pouch-packaging-free-photo.jpg"
				alt="Product 3"
			>
			<h3>Product 3</h3>
			<p>$39.99</p>
			<a href="#products" class="btn">Buy</a>
		</div>
	</div>
</section>
{% schema %}
{
	"name": "featured section",
	"settings": [
		{
			"type": "text",
			"id": "products",
			"label": "Products",
			"default": "products"
		},
		{
			"type": "text",
			"id": "product_grid",
			"label": "Product Grid",
			"default": "product-grid"
		},
		{
			"type": "text",
			"id": "product_card",
			"label": "Product Card",
			"default": "product-card"
		},
		{
			"type": "text",
			"id": "btn",
			"label": "Btn",
			"default": "btn"
		},
		{
			"type": "text",
			"id": "image_url_1",
			"label": "Product Image URL 1",
			"default": "https://static.vecteezy.com/system/resources/thumbnails/071/003/805/small/blank-white-coffee-pouch-mockup-packaging-design-template-photo.jpg"
		},
		{
			"type": "text",
			"id": "image_url_2",
			"label": "Product Image URL 2",
			"default": "https://static.vecteezy.com/system/resources/thumbnails/069/860/804/small/glossy-mustard-yellow-coffee-pouch-packaging-free-photo.jpg"
		},
		{
			"type": "text",
			"id": "products_text",
			"label": "#products",
			"default": "#products"
		},
		{
			"type": "text",
			"id": "product_1",
			"label": "Product 1",
			"default": "Product 1"
		},
		{
			"type": "text",
			"id": "product_2",
			"label": "Product 2",
			"default": "Product 2"
		}
	],
	"blocks": [],
	"max_blocks": 1,
	"presets": [
		{
			"name": "featured section",
			"settings": {
				"products": "products",
				"product_grid": "product-grid",
				"product_card": "product-card",
				"btn": "btn",
				"image_url_1": "https://static.vecteezy.com/system/resources/thumbnails/071/003/805/small/blank-white-coffee-pouch-mockup-packaging-design-template-photo.jpg",
				"image_url_2": "https://static.vecteezy.com/system/resources/thumbnails/069/860/804/small/glossy-mustard-yellow-coffee-pouch-packaging-free-photo.jpg",

				"product_1": "Product 1",
				"product_2": "Product 2"
			}
		}
	]
}
{% endschema %}
