a.navbar-brand img {
    width: 45px !important;
}
.footer-icons {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.footer-icons li a {
    font-size: 20px;
    /* icon size */
    color: #333;
}

.footer-icons li a:hover {
    color: #007acc;
    /* hover color */
}