a.navbar-brand img {
    width: 45px !important;
}
.title-box {
    display: center;
    /* shrink box to text width */
    border: 2px solid #000;
    /* black border */
    padding: 10px 20px;
    /* space inside the box */
    border-radius: 8px;
    /* optional rounded corners */
    background-color: #be3c3c;
    /* optional background */
    text-align: center; 
}